<article class="product-item">
    <!--  redirect to movie datails -->
    <div class="image-container">
        <img src="<%= product.imageUrl %>" alt="<%= product.name %>" id="<% if (locals.role !== 'admin') { %>client-view<% } %>">
    </div>
    <div class="product-item-content">
        <h2>
            <%= product.name %>
        </h2>
        <div id="product-info">
            <p id="price"><span>Price: </span><%= product.price %> COP</p>
            <p id="points"><span>Type: </span><%= product.type %></p>
            <p id="points"><span>Points: </span><%= product.points %> points</p>
        </div>
        <div class="product-item-actions">
            <% if (locals.role === 'admin') { %>
                <a class="btn" href="/admin/products/<%= product.id %>">View & Edit</a>
                <!--  we need to send the crsf token 'cause the csrf protection that has our server side controls the requests the client side sends' -->
                <button class="btn btn-alt" data-productid="<%= product.id  %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
            <% } %>
        </div>
    </div>
</article>