<!-- saving the token in the path -->
<form action="<%= submitPath %>?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data" class="form">
    <div id="information-user">
        <p>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" value="<%= product.name %>" require>
        </p>
        <p>
            <label for="name">Type: </label>
            <input type="text" name="type" id="type" value="<%= product.type %>" require>
        </p>
        <p>
            <label for="price">Price <span>(COP)</span>:</label>
            <input type="number" min="1" step="0.1" name="price" id="price" value="<%= product.price %>" require>
        </p>
        <p>
            <label for="points">Points:</label>
            <input type="number" min="1" step="1" name="points" id="points" value="<%= product.points %>" require>
        </p>
    </div>

    <div class="container-column-space">
        <div id="image-upload-control">
            <p>
                <label for="imageName">Image:</label>
                <input type="file" name="imageName" id="imageName" accept="image/*" <% if(imageRequire){%>required<% } %>
                    >
            </p>
            <img src="" alt="Selected Image.">
        </div>
        <p>
            <a href="/admin/products" class="btn btn-alt">Cancel</a>
            <button class="btn">Save</button>
        </p>
    </div>
</form>