<!-- inlcuding the shared code head -->
<%- include('../shared/includes/head', { pageTitle: 'Cine Distrito' }) %>
<link rel="stylesheet" href="/styles/movies.css">
<link rel="stylesheet" href="/styles/cine-distrito.css">
<link rel="stylesheet" href="/styles/products.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<script src="/scripts/cart-snack-management.js" defer></script>
<script src="/scripts/effects/slider-section.js" defer></script>
</head>

<body id="body">
<%- include('../shared/includes/header') %>
<%- include('../shared/includes/blob') %>
<section id="slider-section">
    <div id="left-side" class="side">
        <h2 class="title">
            <span class="fancy">cine distrito</span>
            IS MORE THAN A   
            <span class="fancy"> cine...</span>      
        </h2>
    </div>
    <div id="right-side" class="side">
        <h2 class="title">
            <span class="fancy">cine distrito</span>
            IS MORE THAN A   
            <span class="fancy"> movie</span>       
        </h2>
    </div>
</section>
<main>
    <section id="movies-section">
        <h2 class="section-title">MOVIES</h2>
        <ul id="movies-grid">
            <% movies.slice().reverse().forEach(movie=> { %>
                <li>
                    <%- include('../shared/includes/movie-item',{movie: movie}) %>
                </li>
            <% }); %>
        </ul>
    </section>
    <section id="snacks-section">
        <h2 class="section-title">SNACKS</h2>
        <ul id="products-grid">
            <% snacks.slice().reverse().forEach(snack=> { %>
                <% if (snack.amount > 0) { %>
                    <li>
                        <%- include('../shared/includes/snack-item',{snack: snack}) %>
                    </li>
                <% } %>
            <% }); %>
        </ul>
    </section>
    <section id="about-us-info">
        <h2>About Us</h2>
        <div>
            <div id="logo">
                <h2>C</h2>
            </div>
            <div id="info">
                <p>
                    <span>Cine Distrito</span> is a local film exhibition that offers visitors <span>More Than a Movie.</span> <span>Cine Distrito theaters</span> feature sophisticated interior décor with elegant ballroom-style lobbies, spacious theater auditoriums with fully reclining leather seats, state-of-the-art sound and projection technology, in-theater wait service provided by stealthy ninja-style servers to ensure minimal movie interruption, and more. We also offer <span> snacks</span> made with fresh ingredients. Clients can expect everything from bottomless, fresh buttered popcorn to unique entrees.
                    <br>
                    We will always be happy to assist you, <span> we are waiting for you.</span>
                    <br>
                    <br>
                    <a href="#body" class="btn">See our products.</a>
                </p>
            </div>
        </div>
    </section>
</main>
<%- include('../shared/includes/footer') %>