<article class="movie-item">
    <!--  redirect to movie datails -->
    <% if (locals.role !== 'admin') { %>
        <a class="" href="/movies/<%= movie.id %>">
    <% } %>
    <div class="image-container" id="card">
        <svg style="display: none;">
            <defs>
                <filter id="noise">
                    <feTurbulence
                    baseFrequency="0.7,0.8"
                    seed="0"
                    type="fractalNoise"
                    result="static"
                    >
                    <animate
                        attributeName="seed"
                        values="0;100"
                        dur="800ms"
                        repeatCount="1" 
                        begin="card.mouseenter"                           
                    />
                    </feTurbulence>
                    <feDisplacementMap in="SourceGraphic" in2="static">
                    <animate
                        attributeName="scale"
                        values="0;40;0"
                        dur="800ms"
                        repeatCount="1" 
                        begin="card.mouseenter"                           
                    />
                    </feDisplacementMap>
                </filter>  
            </defs>
        </svg>
        <% if (locals.role !== 'admin') { %>
            <div id="play-btn">
                <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#dcdcdc"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M8.286 3.407A1.5 1.5 0 0 0 6 4.684v14.632a1.5 1.5 0 0 0 2.286 1.277l11.888-7.316a1.5 1.5 0 0 0 0-2.555L8.286 3.407z" fill="#dcdcdc"></path></g></svg>
            </div>
        <% } %>
        <img src="<%= movie.imageUrl %>" alt="<%= movie.title %>" id="<% if (locals.role !== 'admin') { %>client-view<% } %>">
    </div>
    <div class="movie-item-content">
        <h2>
            <%= movie.title %>
        </h2>
        <div class="movie-item-actions">
            <% if (locals.role === 'admin') { %>
                <a class="btn" href="/admin/movies/<%= movie.id %>">View & Edit</a>
                <!--  we need to send the crsf token 'cause the csrf protection that has our server side controls the requests the client side sends' -->
                <button class="btn btn-alt" data-movieid="<%= movie.id  %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
            <% } %>
        </div>
    </div>
    <% if (locals.role !== 'admin') { %>
        </a>
    <% } %>
</article>