<article class="product-item">
    <div class="image-container">
        <img src="<%= snack.imageUrl %>" alt="<%= snack.name %>" id="<% if (locals.role !== 'admin') { %>client-view<% } %>">
    </div>
    <div class="product-item-content">
        <h2>
            <%= snack.name %>
        </h2>
        <div id="product-info">
            <p id="price"><span>Price: </span><%= snack.price %> COP</p>
            <p id="points"><span>Points: </span><%= snack.points %> points</p>
            <p id="points"><span>Amount: </span><%= snack.amount %> units</p>
        </div>
        <div class="product-item-actions">
            <% if (locals.role !== 'admin' || locals.role !== 'cashier' || locals.role !== 'food dispenser') { %>
                <button data-productid="<%= snack.id %>" data-csrf="<%= locals.csrfToken %>" id="add-to-cart" class="btn">Add to Cart</button>
            <% } %>
            <% if (locals.role === 'admin') { %>
                <a class="btn" href="/admin/snacks/<%= snack.snackId %>">View & Edit</a>
                <!--  we need to send the crsf token 'cause the csrf protection that has our server side controls the requests the client side sends' -->
                <button class="btn btn-alt" data-snackid="<%= snack.snackId  %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
            <% } %>
        </div>
    </div>
</article>