<td id="movie"><%= ticket.show.movie.title %></td>
<td id="date"><%= ticket.show.date %></td>
<td id="time"><%= ticket.show.time %></td>
<td id="theater"><%= ticket.show.theater.name %></td>
<td id="screen"><%= ticket.show.screen %></td>
<th id="position"><%= ticket.rowChair %><%= ticket.columnChair %></th>
<th id="status"><%= ticket.status %></th>
<td id="table-item-actions">
    <a class="btn" href="/admin/tickets/<%= ticket.id %>">View & Edit</a>
    <button class="btn btn-alt" data-ticketid="<%= ticket.id  %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
</td>